*{margin:0 auto; padding:0px; list-style:none; text-decoration:none; outline:none; border-color:none; box-sizing:border-box;}

body{font-family:12px;}

.wrapper{width:100%; max-width:1150px;}

.header{float:left; width:100%; background:#725e70 no-repeat center; background-size:100% 100%; }

.header_box{float:left; width:100%; margin-top:10px;}

.design{float:left; width:100%; padding:20px 0px 20px 0px;}

.app_logo{float:left; width:50%;}
.app_logo a{float:left; width:100%; text-align:center;}

.list{float:right; width:50%;}

.menu{float:left; width:100%;}
.menu li{float:left; width:auto; padding-right:40px;}
.menu li a{width:auto; padding:30px 10px 10px 10px; color:#cacdcf;; font-size:16px; border-radius:4px; border:0;}
.menu li:hover a,.menu li.active a{color:#cacdcf; background:#74c7d5; text-align:center;}

.banner{float:left; width:100%;}
.banner{float:left; width:auto;}

.section1{float:left; width:100%; background:url(file:///D|/acrostia/html/images/red.png) no-repeat center; background-size:100% 100%;}


.main{float:left; width:100%; margin:30px 0px 20px 0px;}

.services_menu li a:hover, .services_menu li.active a{background:#df5c64; text-align:center;}

.contain{float:left; width:100%;}
.contain h1{width:auto; display:inline block; text-align:center; color:#fdfbfb; font-size:40px; margin-top:40px;}
.contain h6{width:auto; text-align:center; color:#FFF; font-size:18px; margin-top:20px;}
.contain p{width:auto; text-align:center; color:#FFF; font-size:14px; margin-top:10px;}

.item{float:left; width:100%; margin-bottom:100px; margin-top:100px;}
.item ul{float:left; width:100%;}
.item li{ float:left; width:20%; background-color:#c45158; text-align:center; margin:0px 20px 0px 30px;}
.item li a{float:left; width:100%; margin-top:30px; margin-bottom:30px;}
.item li h4{width:auto; font-size:18px; color:#FFF; }
.item li p{ width:auto; font-size:14px; color:#FFF; margin-top:20px; margin-bottom:30px;}

.section2{float:left; width:100%; background:url(file:///D|/acrostia/html/images/purpal.png) no-repeat center; background-size:100% 100%;}
.about_menu li a:hover, .about_menu li.active a{background:#91778e; text-align:center;}

.contain1{float:left; width:100%;}
.contain1 h1{width:auto; display:inline block; text-align:center; color:#fdfbfb; font-size:40px; margin-top:40px;}
.contain1 h6{width:auto; text-align:center; color:#FFF; font-size:18px; margin-top:20px;}
.contain1 p{width:auto; text-align:center; color:#FFF; font-size:14px; margin-top:10px;}
.contain1 a{ float:left; text-align:center; width:100%; display:inline-block; margin-top:20px;}

.users{float:left; width:100%;}
.users_img{float:left; width:100%; margin-top:30px;}
.users_img ul{float:left; width:100%;}
.users_img li{float:left; width:20%; margin:0px 20px 0px 30px;     background-color: rgb(94, 77, 92);}
.users_img li a{float:left; width:100%; text-align:center; display:inline-block; margin-top:20px;}
.users_img li h5{float:left; width:100%; text-align:center; display:inline-block; color:#FFF; margin-top:20px;}
.users_img li h6{float:left; width:100%; text-align:center; display:inline-block; color:#8aa066; margin-top:20px; margin-bottom:20px;}
.social{float:left; width:100%;}
.social ul{float:left; width:100%;}
.social li{float:left; width:1px;}
.social li a{float:left; width:100%; margin-bottom:20px;}	 	

.section3{float:left; width:100%; background:url(file:///D|/acrostia/html/images/green.png) no-repeat center; background-size:100% 100%;}
.work_menu li a:hover, .work_menu li.active a{background:#a1ca6c; text-align:center;}
.images{float:left; width:100%;}
.images ul{float:left; width:100%;}
.images li{float:left; width:20%; margin:0px 20px 0px 30px; }

.images li a {float:left; width:100%; text-align:center; display:inline-block; margin-top:26px; margin-right:229px;}
.fb img:hover{background-color:#4f689e;}



.footer{float:left; width:100%; background:#68a097 no-repeat center; background-size:100% 100%; margin-top:50px;}

.footer_menu{float:none; width:100%; text-align:center;}
.footer_menu ul{float:none; width:100%; display:inline-block}
.footer_menu li{float:none; width:auto; margin:20px 20px 20px 0px; text-align:center; display:inline-block; }
.footer_menu li a{float:left; width:auto; }

@media screen and (max-width:1199px)
{
	.wrapper{width:96%}
}

@media screen and (max-width:991px)
{
	.menu li{padding-right:30px;}
	.item li{margin:0px 10px 10px 30px;}
	.users_img li{margin:0px 10px 10px 30px;}

}
 